p {
    font-weight: bold;
}

#intro {
    width: 40%;
    font-size: 2.5em;
}

.about {
    font-size: 1.5em;
    margin-left: 40%;
    margin-right: 20%;
}

.contact {
    font-size: 7em;
    /* line-height: 100%; */
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-left: 1%;
}

.linkImg {
    margin: 0px 0px 0px 0px;
    float: left;
    width: 3%;

}

#email {
    margin: 0px 0px 0px 1%;
    font-size: 2em;
    clear: both;
}